{
  "presets": [
    "es2015-native-modules",
    "react",
    "stage-0"
  ],
  "plugins": [
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    "transform-decorators-legacy"
  ]
}
