@import '~app/assets/stylus'


html
body
:global(#root)
  height: 100%

body
  background: rgba($blackColor, 0.8)
  color: $textColor

a:hover
  text-decoration: none

:global(#root)
  font-family: SourceSansPro
