@import '~app/assets/stylus'


html
body
:global(#root)
  height: 100%

body
  background: url('app/assets/images/background.jpg') repeat
  color: $textColor

a:hover
    text-decoration: none

:global(#root)
  font-family: SourceSansPro

.spinnerWrapper
  position: fixed

.spinner
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
