@import '~app/assets/stylus'

.root
  background: url('app/assets/images/bgregister.png')
  background-size: 100% 100%
  padding: 0

.container
  display: flex
  flex-direction: row
  padding: 8px 0px 8px
  border-bottom: 1px solid $underlineColor
  &:focus
    border-bottom: 2px solid $underlineColor

.form
  margin-top: 48px

.heading
  font-size: 32px
  margin-bottom: 16px
  padding: 24px 0px 8px 16px
  color: $whiteColor

.textinput
  margin-left: 5px
  width: 100%
  color: $whiteColor
  background: rgba(0,0,0,0)
  font-size: 16px
  border: none

.button
  width: 100%
  margin-top: 48px
  background: $buttonColor
  color: $whiteColor
  font-size: 16px
  border: none
  padding: 24px
  cursor: pointer

.inputIcon
  padding: 4px
  margin-left: 4px
  color: $whiteColor

.back
  padding: 8px
  margin: 16px 0px 0px 8px
  height: 40px
  &:hover
    background: $underlineColor

.error
  text-align: center
  margin: 16px 0px 0px 16px
  color: $negativeColor
