@import '~app/assets/stylus'

.root
  display: flex
  flex-direction: row
  align-items: center

.rootNoComment
  justify-content: flex-end

.rootwcomment
  justify-content: space-between

.hot
  margin-right: 16px

.button
  color: $themeColor
  &:not(:last-child)
    margin-right: 8px

.positive:hover
  color: $positiveColor

.negative:hover
  color: $negativeColor

.commentcontainer
  margin-left: 8px
  border-radius: 4px
  &:hover
    background: $whiteColor

.commentbutton:hover
  border-radius: 4px

.end
  display: flex
  align-items: center
  flex-direction: row
