@import '~app/assets/stylus'


.root
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end

.hot
  display: inline-block
  margin-right: 16px

.button
  color: $themeColor

  &:not(:last-child)
    margin-right: 8px

.positive:hover
    color: $positiveColor

.negative:hover
    color: $negativeColor
