@import '~app/assets/stylus'

.root
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end

.hot
  margin-right: 16px

.button
  color: $themeColor
  &:not(:last-child)
    margin-right: 8px

.positive:hover
    color: $positiveColor

.negative:hover
    color: $negativeColor

.commentcontainer
  display: flex
  flex: 1 100%
  margin-left: 8px

.commentbutton:hover
  background: $_white
  border-radius: 4px

.commentbarend
  display: flex
  align-items: center
  flex-direction: row
