@import '~app/assets/stylus'

.root
  background: $themeColor
  color: $backgroundColor

  padding: $minPadding 0

  +from($sml)
    padding: $smlPadding 0

  +from($med)
    padding: $medPadding 0

  +from($lge)
    padding: $lgePadding 0

  +from($xlg)
    padding: $xlgPadding 0

.column
  composes: column from 'app/assets/stylus/common.styl'

.heading
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.contribute
  display: block
  flex: 0

.copyright
  display: block
  flex-grow: 1
  margin-left: 5px
  text-align: center

  +from($med)
    text-align: left



