@import '~app/assets/stylus'

.root
  background: linear-gradient($_headerBlue2, $_headerBlue)
  color: $backgroundColor

  padding: $minPadding 0

  +from($sml)
    padding: $smlPadding 0

  +from($med)
    padding: $medPadding 0

  +from($lge)
    padding: $lgePadding 0

  +from($xlg)
    padding: $xlgPadding 0

.column
  composes: column from 'app/assets/stylus/common.styl'

.wrapper
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  +upTo($med)
    justify-content: flex-end

.copyright
  display: block

  +upTo($med)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
