@import '~app/assets/stylus'


.root
  background: $backgroundColor
  border-bottom 4px solid $themeColor

.column
  composes: column from 'app/assets/stylus/common.styl'

.navBar
  display: flex
  flex-direction: row
  justify-content: space-between
  font-size: 20px

  padding-top: $minPadding
  padding-bottom: $minPadding

  +from($sml)
    padding-top: $smlPadding
    padding-bottom: $smlPadding

  +from($med)
    padding-top: $medPadding
    padding-bottom: $medPadding

  +from($lge)
    padding-top: $lgePadding
    padding-bottom: $lgePadding

  +from($xlg)
    padding-top: $xlgPadding
    padding-bottom: $xlgPadding

.nav
  flex: 1

  +upTo($med)
    display: none

.aside
  position: fixed
  z-index: $zIndexSidebar
  top: 0
  left: 0
  width: 250px
  height: 100%
  padding: 8px
  background: $themeColor
  color: $backgroundColor
  display: flex
  flex-direction: column
  transform: translateX(0%)
  transition: transform 250ms ease-in-out

.close
  display: block
  text-align: right

.checkbox
  display: none

.checkbox:not(:checked) + .aside
  transform: translateX(-100%)

.hamburger
  margin-right: $minGutter

  +from($sml)
    margin-right: $smlGutter

  +from($med)
    margin-right: $medGutter

  +from($lge)
    margin-right: $lgeGutter

  +from($xlg)
    margin-right: $xlgGutter

+from($med)
  .aside
  .hamburger
  .addPost
    display: none

.heading
.tagline
  display: block

.sticky
  background: rbga($backgroundColor, 0.85)
  color: $textColor
  transition: background 250ms ease-in-out, color 250ms ease-in-out

.isSticky
  background: rgba($themeColor, 0.85)
  color: $backgroundColor

.siteName
  & .isSticky
    color: $backgroundColor

  display: inline-block
  font-size: 28px

  +upTo($med)
    position: absolute
    left: 50%
    transform: translateX(-50%)
