@import '~app/assets/stylus'

.root
  padding: $minGutter

  &:not(:last-child)
    border-bottom: 1px solid $themeColor

.link
  display: block
  text-decoration: none

.post
  display: flex
  flex-direction: row

.image
  height: 100px
  width: 100px
  flex: 0 0 auto

.text
  display: block
  flex: 1 1 auto
  margin-left: $minGutter
