@require './index.styl'


.column
  margin: 0 auto
  width: 100%
  propertyMargin('padding-left')
  propertyMargin('padding-right')
  max-width: (900px + (2 * $minMargin))

  +from($sml)
    max-width: (900px + (2 * $smlMargin))

  +from($med)
    max-width: (900px + (2 * $medMargin))

  +from($lge)
    max-width: (900px + (2 * $lgeMargin))

  +from($xlg)
    max-width: (900px + (2 * $xlgMargin))

.gradient
  background: linear-gradient($headerGradient1, $headerGradient2)
