$_zIndexNegative = -1
$_zIndexLevel1 = 100
$_zIndexLevel2 = 200
$_zIndexLevel3 = 300
$_zIndexLevel4 = 400
$_zIndexLevel5 = 500
$_zIndexLevel6 = 600
$_zIndexLevel7 = 700
$_zIndexLevel8 = 800
$_zIndexLevel9 = 900
$_zIndexLevel10 = 1000
$_zIndexMax = 99999

$zIndexSiteHeader = $_zIndexLevel8
$zIndexSidebar = $_zIndexLevel9
$zIndexImagePop = $_zIndexLevel10
