@import '~app/assets/stylus'


.root
  background: $whiteColor
  padding: 16px
  border-radius: 16px
  box-shadow: 1px 1px 4px $shadowColor

.info
  color: $subtleTextColor

.imageWrapper
  position: relative
  background: $blackColor
  margin-top: 8px
  margin-bottom: 8px

.expand
  position: absolute
  right: 8px
  bottom: 6px
  color: $whiteColor

.body
  content: ''
