@import '~app/assets/stylus'


.root
  background: $whiteColor
  border-radius: 16px
  box-shadow: 1px 1px 4px $shadowColor

.info
  color: $subtleTextColor
  padding: 16px 0 8px 8px

.imageWrapper
  position: relative
  background: $blackColor
  margin-top: 8px
  margin-bottom: 8px

.expanded
  position: fixed
  top: 0
  left: 0
  z-index: $zIndexImagePop
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0
  padding: 8px

.expand
  position: absolute
  right: 8px
  bottom: 6px
  color: $backgroundColor
  text-shadow: 1px 1px 16px $textColor

.body
  padding: 8px 0 16px 8px

.controlbar
  background: $_contrastGrey
  padding: 8px
  border-bottom-left-radius: 15px
  border-bottom-right-radius: 15px
