placeholder()
  &::placeholder
    {block}
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:placeholder-shown
    {block}
  &:-ms-input-placeholder
    {block}
