@import '~app/assets/stylus'


.icon
  composes: materialIcon from 'app/assets/stylus/common.styl'

.tileRoot
  composes: materialTileRoot from 'app/assets/stylus/common.styl'

.gridList
  composes: materialGridList from 'app/assets/stylus/common.styl'
