@import '~app/assets/stylus'

.container
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 10px
  background: #FFF
  align-items: center

.image
  height:200px
  width:300px

.postbody
  display: block

.bottombar
  display: flex
  flex-direction: row

.votecount
  display:flex
