:global(.gm-scrollbar)
  background: rgba(0, 0, 0, 0.1)

  :global(.thumb)
    rgba(0, 0, 0, 0.2)

  .hideVertical &:global(.-vertical)
  .hideHorizontal &:global(.-horizontal)
    display: none

.wrapper
  padding-right: 16px
